version: '3.8'

services:
  mysqldb:
    image: mysql:9.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: bbook
      MYSQL_USER: dev
      MYSQL_PASSWORD: root
    ports:
      - '3307:3306'
    expose:
      - '3307'
    volumes:
      - D:\dev\data\mysql:/var/lib/mysql