<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- ============================================-->
<!-- <section> begin ============================-->
<section class="bg-body-highlight dark__bg-gray-1100 py-9">
    <div class="container-small">
        <div class="row justify-content-between gy-4">
            <div class="col-12 col-lg-4">
                <div class="d-flex align-items-center mb-3"><img src="/assets/logo/bbook.png"
                                                                 alt="phoenix" width="27" />
                    <h5 class="logo-text ms-2">BBook</h5>
                </div>
                <p class="text-body-tertiary mb-1 fw-semibold lh-sm fs-9">BBook
                    cung cấp một nền tảng thuận tiện cho người đọc mua sắm sách trực tuyến.
                    BBook cam kết cung cấp sách chất lượng, đáp ứng nhu cầu đa dạng của độc giả</p>
            </div>
            <div class="col-4 col-md-auto">
                <h5 class="fw-bolder mb-3">Mạng xã hội</h5>
                <div class="d-flex flex-column">
                    <a class="mb-1 fw-semibold fs-9 d-flex" href="https://facebook.com/lochuung" target="_blank"><span
                            class="fab fa-facebook-square text-primary me-2 fs-8"></span><span
                            class="text-body-secondary">Facebook</span></a>
                </div>
            </div>
            <div class="col-4 col-md-auto">
                <h5 class="fw-bolder mb-3">Phương thức thanh toán</h5>
                <div class="d-flex flex-column">
                    <p class="text-body-tertiary fw-semibold fs-9 mb-1">Thanh toán khi nhận hàng</p>
                    <p class="text-body-tertiary fw-semibold fs-9 mb-1">Thanh toán Online</p>
                </div>
            </div>
        </div><!-- end of .container-->
    </div>
</section><!-- <section> close ============================-->
<!-- ============================================-->

<footer class="footer position-relative">
    <div class="row g-0 justify-content-between align-items-center h-100">
        <div class="col-12 col-sm-auto text-center mx-auto">
            <p class="mb-0 mt-2 mt-sm-0 text-body">Cảm ơn đã đồng hành cùng BBook<span
                    class="d-none d-sm-inline-block"></span><span
                    class="d-none d-sm-inline-block mx-1">|</span><br class="d-sm-none"/>2024 &copy;
        </div>
    </div>
</footer>
</html>