<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}" lang="vi">
<th:block layout:fragment="scripts">
    <script>
        document.getElementById('avatarFile').addEventListener('change', function () {
            this.form.submit();
        });
    </script>
</th:block>
<th:block layout:fragment="content">
    <section class="pt-5 pb-9">
        <div class="container-small">
            <div class="row align-items-center justify-content-between g-3 mb-4">
                <div class="col-auto">
                    <h2 class="mb-0">Hồ sơ</h2>
                </div>
                <div class="col-auto">
                    <div class="row g-2 g-sm-3">
                        <div class="col-auto">
                            <button class="btn btn-phoenix-secondary"><span class="fas fa-key me-2"></span>Khôi
                                phục mật khẩu
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row g-3 mb-6">
                <div class="col-12 col-lg-8">
                    <div class="card h-100">
                        <div class="card-body">
                            <div class="">
                                <div class="row align-items-center g-3 g-sm-5 text-center text-sm-start">
                                    <div class="col-12 col-sm-auto">
                                        <form th:action="@{/profile/upload}" method="post"
                                              enctype="multipart/form-data">
                                            <input class="d-none" id="avatarFile"
                                                   name="file"
                                                   type="file"/>
                                            <label
                                                    class="cursor-pointer avatar avatar-5xl" for="avatarFile">
                                                <img class="rounded-circle"
                                                     th:src="${user.avatar != null ? user.avatar.url : '/assets/img/user.png'}"
                                                     alt=""/>
                                            </label>
                                        </form>
                                    </div>
                                    <div class="col-12 col-sm-auto flex-1">
                                        <h3 th:text="${user.fullName}"></h3>
                                        <p class="text-body-secondary" th:inline="text">
                                            Tham gia vào ngày [[${#temporals.format(user.createdDate, 'dd/MM/yyyy')}]]
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <div class="border-bottom border-dashed">
                                <h4 class="mb-3">Địa chỉ mặc định
                                    <a th:href="@{/cart/address}" class="btn btn-link p-0" type="button"> <span
                                            class="fas fa-edit fs-9 ms-3 text-body-quaternary"></span></a>
                                </h4>
                            </div>
                            <div class="pt-4 mb-7 mb-lg-4 mb-xl-7">
                                <div class="row justify-content-between">
                                    <div class="col-auto">
                                        <h5 class="text-body-highlight">Địa chỉ</h5>
                                    </div>
                                    <div class="col-auto" th:if="${address != null}">
                                        <p class="text-body-secondary"
                                           th:inline="text">[[${address.addressLine}]], [[${address.ward}]], <br>
                                            [[${address.district}]], [[${address.province}]]</p>
                                    </div>
                                </div>
                            </div>
                            <div class="border-top border-dashed pt-4">
                                <div class="row flex-between-center">
                                    <div class="col-auto">
                                        <h5 class="text-body-highlight mb-0">Số điện thoại</h5>
                                    </div>
                                    <div class="col-auto" th:if="${address != null}"><a
                                            th:href="${'tell:' + address.phoneNumber}"
                                            th:text="${address.phoneNumber}"
                                    ></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="scrollbar">
                    <ul class="nav nav-underline fs-9 flex-nowrap mb-3 pb-1" id="myTab" role="tablist">
                        <li class="nav-item"><a class="nav-link active text-nowrap" id="personal-info-tab"
                                                data-bs-toggle="tab"
                                                href="#tab-personal-info" role="tab" aria-controls="tab-personal-info"
                                                aria-selected="true"><span
                                class="fas fa-user me-2"></span>Thông tin cá nhân</a></li>
                    </ul>
                </div>
                <div class="tab-content" id="profileTabContent">
                    <div class="tab-pane fade show active" id="tab-personal-info" role="tabpanel"
                         aria-labelledby="personal-info-tab">
                        <form th:action="@{/profile}" method="post" th:object="${user}">
                            <div class="row gx-3 gy-4 mb-5">
                                <input type="hidden" th:field="*{id}">
                                <div class="col-12 col-lg-12"><label
                                        class="form-label text-body-highlight fs-8 ps-0 text-capitalize lh-sm"
                                        for="fullName">Họ tên</label>
                                    <input class="form-control" id="fullName" type="text"
                                           th:field="*{fullName}" required
                                           placeholder="Họ tên"/>
                                    <div class="invalid-feedback" style="display: block"
                                         th:if="${#fields.hasErrors('fullName')}" role="alert"
                                         th:errors="*{fullName}"></div>
                                </div>
                                <div class="col-12 col-lg-6"><label
                                        class="form-label text-body-highlight fs-8 ps-0 text-capitalize lh-sm"
                                        for="email">Email</label><input class="form-control"
                                                                        th:field="*{email}"
                                                                        id="email" type="text" readonly
                                                                        placeholder="Email"/>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <div class="row g-2 gy-lg-0">
                                        <label
                                                class="form-label text-body-highlight fs-8 ps-1 text-capitalize lh-sm mb-1">
                                            Sinh nhật
                                        </label>
                                        <input type="date" required th:field="*{birthday}" class="form-control"
                                               placeholder="Sinh nhật">
                                        <div class="invalid-feedback" style="display: block"
                                             th:if="${#fields.hasErrors('birthday')}" role="alert"
                                             th:errors="*{birthday}"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-end">
                                <button class="btn btn-primary px-7" type="submit">Lưu thay đổi</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div><!-- end of .container-->
    </section>
</th:block>
</html>