<!doctype html >
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<div class="mb-6">
    <div class="d-flex flex-between-center mb-3">
        <h3>Mới phát hành</h3>
    </div>
    <div class="swiper-theme-container products-slider">
        <div class="swiper swiper theme-slider"
             data-swiper='{"slidesPerView":1,"spaceBetween":16,"breakpoints":{"450":{"slidesPerView":2,"spaceBetween":16},"576":{"slidesPerView":3,"spaceBetween":20},"768":{"slidesPerView":4,"spaceBetween":20},"992":{"slidesPerView":5,"spaceBetween":20},"1200":{"slidesPerView":6,"spaceBetween":16}}}'>
            <div class="swiper-wrapper">
                <th:block th:each="book : ${topNewBooks}">
                    <div class="swiper-slide" th:with="nonStars=${5 - book.averageRating}">
                        <div class="position-relative text-decoration-none product-card h-100">
                            <div class="d-flex flex-column justify-content-between h-100">
                                <div>
                                    <div
                                            class="border text-center border-1 border-translucent rounded-3 position-relative mb-3">
                                        <img
                                                class="img-fluid" th:src="${book.thumbnailUrl}"
                                                alt=""/>
                                    </div>
                                    <a class="stretched-link"
                                       th:href="${'/book/' + book.slug}">
                                        <h6 class="mb-2 lh-sm line-clamp-3 product-name"
                                            th:text="${book.title}"></h6>
                                    </a>
                                    <p class="fs-9">
                                                        <span th:each="i : ${#numbers.sequence(1, book.averageRating, 1)}"
                                                              class="fa fa-star text-warning"></span>
                                        <span th:each="i : ${#numbers.sequence(1, nonStars, 1)}"
                                              class="fa-regular fa-star text-warning-light"></span>
                                        <span
                                                class="text-body-quaternary fw-semibold ms-1"
                                                th:text="${book.totalRating + ' đánh giá'}"></span>
                                    </p>
                                </div>
                                <div>
                                    <div class="d-flex align-items-center mb-1">
                                        <p class="me-2 text-body mb-0"
                                           th:inline="text">
                                            [[${#numbers.formatDecimal(book.price, 0, 'POINT', 0,
                                            'COMMA')}]] ₫
                                        </p>
                                    </div>
                                    <p class="text-success fw-bold fs-9 lh-1 mb-0"
                                       th:text="${'Đã bán: ' + book.totalSold}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>
        <div class="swiper-nav">
            <div class="swiper-button-next"><span class="fas fa-chevron-right nav-icon"></span>
            </div>
            <div class="swiper-button-prev"><span class="fas fa-chevron-left nav-icon"></span></div>
        </div>
    </div>
</div>
</html>