<!doctype html >
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<div class="row g-4 mb-6">
    <div class="col-12 col-lg-9 col-xxl-10">
        <div class="d-flex flex-between-center mb-3">
            <div class="d-flex"><span class="fas fa-bolt text-warning fs-6"></span>
                <h3 class="mx-2">Bán chạy</h3><span
                        class="fas fa-bolt text-warning fs-6"></span>
            </div>
            <a class="btn btn-link btn-lg p-0 d-none d-md-block" href="#!">Xem thêm<span
                    class="fas fa-chevron-right fs-9 ms-1"></span></a>
        </div>
        <div class="swiper-theme-container products-slider">
            <div class="swiper swiper theme-slider"
                 data-swiper='{"slidesPerView":1,"spaceBetween":16,"breakpoints":{"450":{"slidesPerView":2,"spaceBetween":16},"768":{"slidesPerView":3,"spaceBetween":20},"1200":{"slidesPerView":4,"spaceBetween":16},"1540":{"slidesPerView":5,"spaceBetween":16}}}'>
                <div class="swiper-wrapper">
                    <th:block th:each="book : ${topSellBooks}">
                        <div class="swiper-slide" th:with="nonStars=${5 - book.averageRating}">
                            <div class="position-relative text-decoration-none product-card h-100">
                                <div class="d-flex flex-column justify-content-between h-100">
                                    <div>
                                        <div
                                                class="border text-center border-1 border-translucent rounded-3 position-relative mb-3">
                                            <button
                                                    class="btn btn-wish btn-wish-primary z-2 d-toggle-container"
                                                    data-bs-toggle="tooltip" data-bs-placement="top"
                                                    title="Add to wishlist"><span
                                                    class="fas fa-heart d-block-hover"
                                                    data-fa-transform="down-1"></span><span
                                                    class="far fa-heart d-none-hover"
                                                    data-fa-transform="down-1"></span></button>
                                            <img
                                                    class="img-fluid"
                                                    th:src="${book.thumbnailUrl}" alt=""/>
                                        </div>
                                        <a class="stretched-link"
                                           th:href="${'/book/' + book.slug}">
                                            <h6 class="mb-2 lh-sm line-clamp-3 product-name"
                                                th:text="${book.title}"></h6>
                                        </a>
                                        <p class="fs-9">
                                                            <span th:each="i : ${#numbers.sequence(1, book.averageRating, 1)}"
                                                                  class="fa fa-star text-warning"></span>
                                            <span th:each="i : ${#numbers.sequence(1, nonStars, 1)}"
                                                  class="fa-regular fa-star text-warning-light"></span>
                                            <span
                                                    class="text-body-quaternary fw-semibold ms-1"
                                                    th:text="${book.totalRating + ' đánh giá'}"></span>
                                        </p>
                                    </div>
                                    <div>
                                        <div class="d-flex align-items-center mb-1">
                                            <p class="me-2 text-body mb-0"
                                               th:inline="text">
                                                [[${#numbers.formatDecimal(book.price, 0, 'POINT', 0,
                                                'COMMA')}]] ₫
                                            </p>
                                        </div>
                                        <p class="text-success fw-bold fs-9 lh-1 mb-0"
                                           th:text="${'Đã bán: ' + book.totalSold}"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </th:block>
                </div>
            </div>
            <div class="swiper-nav swiper-product-nav">
                <div class="swiper-button-next"><span class="fas fa-chevron-right nav-icon"></span>
                </div>
                <div class="swiper-button-prev"><span class="fas fa-chevron-left nav-icon"></span>
                </div>
            </div>
        </div>
        <a class="fw-bold d-md-none px-0" href="#!">Xem thêm<span
                class="fas fa-chevron-right fs-9 ms-1"></span></a>
    </div>
    <div class="col-lg-3 d-none d-lg-block col-xxl-2">
        <div class="h-100 position-relative rounded-3 overflow-hidden">
            <div class="bg-holder"
                 style="background-image:url(https://img.freepik.com/free-vector/background-colorful-modern-design_677411-3937.jpg?w=360&t=st=1719573043~exp=1719573643~hmac=6fce0f6a5d8f5e6b97610f697c2d643d97fac3e5988f1c3c3f45ba74aa68a510);"></div>
            <!--/.bg-holder-->
        </div>
    </div>
</div>
</html>